{#
  /**
   * @file
   * Default theme implementation for an item list.
   *
   * Available variables:
   *
   * @see template_preprocess_template_directory()
   *
   * @ingroup themeable
   */
#}
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="personal-info">
  <div class="progress-row">
    <div class="progress">
      <div class="determinate" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:40%"></div>
    </div>
  </div>
  {{ form.actions.previous }}
  <div class="form-container">
    <div class="row">
      <div class="col">
        {{ form.label }}
      </div>
    </div>

    <div class="row form-element">
      <div class="my-insurance">
        <div class="col">
          {{ form.my_insurance }}
        </div>
        <div class="col">
          {{ form.phone_number }}
        </div>
        <div class="col">
          {{ form.email }}
        </div>
      </div> 
      <hr class="form-divisor"/>
    </div> 

    <div class="row form-element">
      <div class="my-personal-info">
        <div class="col">
          {{ form.personal_info }}
        </div>
        <div class="col">
          {{ form.name }}
        </div>
        <div class="col">
          {{ form.lastname }}
        </div>
        <div class="row">
          <div class="col birthday-field">
            {{ form.birthdate }}
          </div>
          <div class="col gender-field">
            {{ form.sex }}
          </div>
        </div>
        <div class="col">
          {{ form.country }}
        </div>
        <div class="col">
          {{ form.city }}
        </div>
      </div>
    </div> 

    <div class="row form-element">
      <div class="col submit-form">
        {{ form.actions.submit }}
      </div>
    </div>

  </div>
</div>
{# Added popup message to alert the user to leave data session #}
{% include '/modules/custom/enroll_now/templates/alert-remove-data-session.html.twig' %}
