{#
  /**
    * @file
    * Default theme implementation for an item list.
    *
    * Available variables:
    *
    * @see template_preprocess_template_directory()
    *
    * @ingroup themeable
    */
  #}

  {{ attach_library('enroll_now/enroll_now') }}

  <section class="process-error process-error--dont-match">
    <header class="process-error__header">
      <div class="image-container">
        <img src="{{ base_url }}/modules/custom/enroll_now/images/credentials.svg" alt="placeholder">
      </div>
      <h2 class="description">{{ 'Credentials don’t match'|t }}</h2>
    </header>
    <article class="process-error__text process-error__text--credentials">
      <div class="description">
        {% if body_error_credentials %}
          {{ body_error_credentials|raw }}
        {% endif %}
      </div>
      {% if link_back_to_form %}
        <a href="{{ link_back_to_form }}" class="btn btn-primary button">{{ 'Re-enter my info'|t }}</a>
      {% endif %}
      {% if link_front_page %}
        <a href="{{ link_front_page }}" class="btn btn-primary btn-outlined">{{ 'Go back to homepage'|t }}</a>
      {% endif %}
    </article>
  </section>
